:root {
    --brand-color: #434455;
    --side-color: #2e2f42;
    --third-color: #404bbf;
    --four-color: #4d5ae5;
    --bg-color: #f4f4fd;
    --bg2-color: #FFFFFF;
    --button-color: #e7e9fc;
}
body{
font-family: 'Roboto', sans-serif;
color: var(--brand-color);
background-color: var(--bg2-color);
}
img {
    display: block;
}
h1{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
p{
    margin: 0;
}
.link-main{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--four-color);  
    margin-right: 76px;
}
.link{
    text-decoration: none;
}
.second-logo{
    color: var(--side-color);
}
.footer-second-logo{
    color: var(--bg-color);
}
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.link-main-li{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--side-color);
    padding: 24px 0;
    display: block;
}
.link-main-li:hover{
    color: var(--third-color);
}
.link-main-li:focus{
    color: var(--third-color);
}
.adress{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-left: auto;
}
.adress:hover{
    color: var(--third-color);
}
.adress:focus{
    color: var(--third-color);
}
.section {
    padding: 120px 0;
}
.first-section{
    background-color: var(--side-color);
    padding: 188px 0 ;
    background: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}
.first-h{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--bg2-color);
    max-width: 496px;
    margin-bottom: 48px;
}
.button{
    font-family: "Roboto", sans-serif;
    background-color: var(--four-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--bg2-color);
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--four-color);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}
.button:hover{
    background-color: var(--third-color);
}
.button:focus{
    background-color: var(--third-color);
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.second-section{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--side-color);
    margin-bottom: 8px;
}
.second-section-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.wwd{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--side-color);
    margin-bottom: 72px;
}
.four-sec{
    background-color: var(--bg-color);
    padding: 120px 0;

}
.team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--side-color);
    text-align: center;
    margin-bottom: 8px;
}
.team-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    text-align: center;
    margin-bottom: 8px;
}
.footer{
    background-color: var(--side-color);
    padding: 100px 0;
}
.white-bg{
    background-color: var(--bg2-color);
    flex-basis: calc((100% - 72px) / 4));
    border-radius: 0px 0px 4px 4px;
    box-shadow: 
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08)
}
/* Portfiloi */
.button-portfolio{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--side-color);
    padding: 12px 24px;
    border: 1px solid var(--button-color);
    border-radius: 4px;
}
.button-portfolio:hover{
    border: 1px solid transparent;
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-portfolio:focus{
    border: 1px solid transparent;
    box-shadow:
    0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.link-main-port{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--side-color);
}
.link-main-port:hover{
    color: var(--third-color);
}
.link-main-port:focus{
    color: var(--third-color);
}
.button-portfolio{
    color: var(--four-color);
    background-color: var(--bg-color);
    cursor: pointer;
}
.button-portfolio:hover{
    color: var(--bg2-color);
    background-color: var(--third-color);
}
.button-portfolio:focus{
    color: var(--bg2-color);
    background-color: var(--third-color);
}
.img-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--side-color);
    margin-bottom: 8px;
}
.img-text-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-bottom: 8px;
}
.footer{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bg-color);
}
.main-head{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.head-div{
    display: flex;
    align-items: center;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.logo{
    display: flex;
    align-items: center;
}
.menu-head{
    display: flex;
    gap: 40px;
}
.adress-li{
    display: flex;
    gap: 40px;
}
.our-oppo{
    padding: 120px 0;
}
.first-list{
    display: flex;
    gap: 24px;
}
.third-sec{
    padding-bottom: 120px;
}
.wwd-list{
    display: flex;
    gap: 24px;
}
.wwd-check{
    flex-basis: calc((100% - 48px) / 3);
}
.point{
    flex-basis: calc((100% - 3 * 24px) / 4);
}
.our-team{
    display: flex;
    gap: 24px;
}
.workers{
    padding: 32px 16px
}
.link-main-footer{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--four-color);
    display: inline-block;
    margin-bottom: 16px;
}
.p-footer{
    max-width: 264px;
    margin-bottom: 16px;
}
.sec-button{
    padding-top: 96px;
    padding-bottom: 120px;
}
.button-portfolio-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.img-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.first-li-img{
    width: calc((100% - 48px)/3);
}
.for-all-img{
    padding: 32px 16px;
    border: 1px solid var(--button-color);
    border-top: none;
}
.icon-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--bg-color);
    border-radius: 4px;
    margin-bottom: 8px;
}
.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-soc-item {
    width: 40px;
    height: 40px;
}
.team-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--four-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--third-color);
}
.team-soc-icon {
    fill: var(--bg-color);
}
.main-cust-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.main-cust-item {
    width: calc((100% - (24px * 5)) / 6);
    height: 88px;
}
.main-cust-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    border: 1px solid #8e8f99;
    border-radius: 4px;
}
.main-cust-link:hover,
.main-cust-link:focus {
    border-color: var(--third-color);
    color: var(--third-color);
}
.main-cust-icon {
    fill: currentColor;
}
.footer-text{
    display: flex;
    align-items: baseline;
    margin-right: 120px;   
}
.footer-logo-main{
    margin-right: 120px;
}
.footer-soc-txt{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bg2-color);
    margin-bottom: 16px;
}
.footer-soc-list{
    display: flex;
    gap: 16px;
}
.footer-soc-item{
    width: 40px;
    height: 40px;
}
.footer-soc-link{
    width: 100%;
    height: 100%;
    background-color: var(--four-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-soc-link:hover{
    background-color: #31d0aa;
}
.footer-soc-link:focus{
    background-color: #31d0aa;
}
.footer-soc-icon{
    fill: var(--bg-color);
}
.link-port-shadow{
    display: block;
}
.link-port-shadow:hover{
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link-port-shadow:focus{
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}